<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=
    , initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <div class="w-full min-h-screen bg-zinc-900 p-10 text-white ">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class="flex gap-8 mt-3 p-10 flex-col items-center justify-center">
                    <h1 class="text-3xl text-green-500">Upload profile pic</h1>
                    <input type="file" name="image">

                    <input class="px-5 py-2 border-2 border-zinc-900 rounded-md bg-blue-700 outline-none" type="submit"
                        value="Upload">
                        
                    <div class="flex flex-col items-center justify-center mb-9">
                        <a class="text-blue-600 " href="/profile">Back to profile</a>
                    </div>

                    <!-- <h1>Your uploads here</h1> -->

                </div>
            </form>
        </div>
    </body>

</html>